---
// One edition (print) card.
const { href = '#', bw = false, image, title, sub, edition, price } = Astro.props;
---
<div class={`print-card${bw ? ' bw' : ''} reveal`}>
  <div class="print-frame">
    <div class="print-mat"><img class="ph" src={image} alt={title} /></div>
  </div>
  <div class="print-info">
    <div>
      <h3 class="headline">{title}</h3>
      <div class="sub">{sub}</div>
      <div class="edition">{edition}</div>
    </div>
    <div class="price">{price}<span>+ shipping</span></div>
  </div>
  <a class="print-acquire" href={href}>Acquire print <span class="arr">&rarr;</span></a>
</div>
